*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cinzel', serif;
    letter-spacing: 2px;
    color: beige;
    background: rgb(69,72,77);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 8%, rgba(0,0,0,1) 99%);
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 8%,rgba(0,0,0,1) 99%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 8%,rgba(0,0,0,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
     
}
header{
    text-align: center;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(20, 20, 20, 0.719);
}
nav ul{
    display: flex;
    flex-direction: wrap;
}
  
li{
    list-style: none;
    margin: 0.4rem;
}

section{
    letter-spacing: 1px;
    line-height: 30px;
}

.inicio{
    position: relative;
    display: inline-block;
    text-align: center;

}

.portadaPrincipal{
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    color: rgb(249, 250, 178);
    margin: 0rem;
    padding: 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portada{
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    color: rgb(249, 250, 178);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
.platos{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}
.reseñas{
    text-align: center;
    grid-column-start: 2;
    grid-row-end: -1;
    margin: 0.5rem;
    padding: 0.5rem;

}

.reserva{
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0.5;
    padding: 0.5rem;
}
.cuerpo{
    margin: 0.5rem;
    padding: 0.5rem;
}

.carta{
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
}
.contenedorCarta{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    text-align: center;
}
.carta1{
    border: 5px rgb(238, 226, 117);
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px;
}
.carta2{
    grid-column-start: 2;
    grid-row-end: -2;
    border: 5px rgb(238, 226, 117);
    border-style: groove;
    letter-spacing: 1px;
    line-height: 25px;
}
.contacto{
    margin: 0.5rem;
    padding: 0.5rem;
    letter-spacing: 2px;
    line-height: 25px;
}

footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}


@media screen and (max-width: 786px){
    
    header{
        text-align: center;
        background-repeat: no-repeat;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        background-color: rgba(20, 20, 20, 0.719);
    }
    nav ul{
        display: flex;
        flex-direction: wrap;
    }
    section{
        
        letter-spacing: 1px;
        line-height: 30px;
    }
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .platos{
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
    
    }
    .reseñas{
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .carta{
        text-align: center;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .contenedorCarta{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        text-align: center;
    }
    .carta1{
        border: 5px rgb(238, 226, 117);
        border-style: groove;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .carta2{
        grid-column-start: 2;
        grid-row-end: -2;
        border: 5px rgb(238, 226, 117);
        border-style: groove;
        letter-spacing: 1px;
        line-height: 25px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    
}
